html {
    font-family: 'PT-Sans', sans-serif;
}

h1 {
    border-bottom: 1px solid black;
}

body {
    margin: 0 40px;
}

section {
    min-width: 330px;
    margin-bottom: 30px;
}

main {
    font-size: 1.3em;
    margin: 20px auto 0;
    width: 1200px;
}

.photo {
    max-width: 100%;
    max-height: 100%;
}

.navigation {
    padding: 10px 65px;
    width: 160px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.navigation:hover{
    background-color: rgb(220, 220, 240);
}

.stack a {
    text-decoration:  none;
}

.logo {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.logo:hover {
    background-color: rgb(220, 220, 240);
}

#header {
    font-size: 1.2em;
    border-bottom: 1px solid black;
    /* padding: 0 10vw; */
    text-align: center;
}

#about {
    height: 400px;
}

#about-text {
    overflow: hidden;
}

#expierence {
    display: block;
}

#photo-container {
    width: 350px;
    height: 400px;
    float: left;
    margin-right: 20px;
}

#about-header  {
    margin-top: 0;
    overflow: hidden;
}

@media screen and (max-width: 1255px){
   #about-text {
        margin: 0;
        overflow: none;
    }
    
    #photo-container {
        float: none;
    }
    
    #about {
        height: max-content;
    }

    main {
        width: 850px;
    }

    #header {
        padding: 0 0;
    }
}


@media screen and (max-width: 1125px) {
    main {
        width: 750px;
    }
}


@media screen and (max-width: 965px) {
    main {
        width: 580px;
    }

    .navigation {
        width: 100%;
        padding: 10px 0;
    }
}

@media screen and (max-width: 553px) {
    #header {
        padding: 0 60px;
    }

    main {
        margin: 20px 10px 0;
    }
}

@media screen and (max-width: 765px) {
    main {
        width: inherit;
        padding: 0 15px;
    }
}

@media screen and (max-width: 414px) {
    body {
        margin: 0 0 0 12px;
        width: 390px;
    }

    main {
        margin: 20px 0 0;
        width: inherit;
        padding: 0 0;
    }

    #header {
        padding: 10px 0px;
    }

    .navigation {
        padding: 10px 0;
    }

    #photo-container {
        margin: 0 20px;
        width: 350px;
    }
}

@media screen and (max-width: 375px) {
    main {
        margin: 20px 0 0;
        width: 340px;
    }

    body {
        margin: 0 0 0 18px;
        width: 340px;
    }

    #photo-container {
        margin: 0 0;
        width: 340px;
    }
}

@media screen and (max-width: 360px) {
    body {
        margin-left: 10px;
    }
}